absl-py
altair
anyio
appwrite
arrow
astunparse
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
dateparser
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
iniconfig
jax
jaxlib
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
moment
namex
narwhals
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
plotly
pluggy
protobuf
px
pyarrow
pycparser
pydeck
Pygments
pyparsing
pytest
python-dateutil
python-telegram-bot
pytz
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
seaborn
sentencepiece
setuptools
six
smmap
sniffio
sounddevice
streamlit
telegram
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
times
toml
tornado
types-python-dateutil
typing_extensions
tzdata
tzlocal
urllib3
watchdog
Werkzeug
wheel
wrapt